// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "_base/config",      //project variables
        "_base/function";   //project function

@import "_layouts/header",   // project layouts
        "_layouts/default",  //default page layout
        "_layouts/frontpage",//project frontpage
        "_layouts/footer";   //peoject footer

@import "_moduls/accordian"; //project moduls

.al-center {
  margin: 0 auto;
  float: none;
  display: table; }

.no-padding {
  padding: 0px; }

.btn-find-f {
  font-size: 18px;
  height: 48px; }

.table-center {
  text-align: center;
  vertical-align: middle !important; }

.no-border {
  border: none !important; }

.fps_input_toggle {
  display: none; }

.sb-hide {
  display: none; }

.sbb-hide {
  display: none;
}




