/*front page*/

.default-search-bar {
  float: none;
  margin: 0 auto;
}
.hide-search-button {
  display:none;
}
.front-search-bar-center {
  float: none;
  margin: 0 auto;
  display: table;
}
.container-si {
  float: left;
  width: 70%;
  @include media("(max-width: 769px)"){
    float: left;
    width: 100%;
  }
}
#msi-b {
  @include media("(max-width: 769px)"){
    width: 100%;
  }
}
.front-search-button-container {
  float: left;
  width: 30%;
}
/* ./front page*/